<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <preference for="Kadoco\StockAlertGuests\Api\Data\StockAlertInterface"
                type="Kadoco\StockAlertGuests\Model\StockAlert"
    />

    <preference for="Kadoco\StockAlertGuests\Api\Data\StockAlertSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"
    />

    <preference for="Kadoco\StockAlertGuests\Api\StockAlertRepositoryInterface"
                type="Kadoco\StockAlertGuests\Model\StockAlertRepository"
    />
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="liststockalerts" xsi:type="object">Kadoco\StockAlertGuests\Console\Command\GetSubscribers</item>
                <item name="sendstockalert" xsi:type="object">Kadoco\StockAlertGuests\Console\Command\SendStockAlerts</item>
            </argument>
        </arguments>
    </type>
</config>
